
.Nav-con{
    background-color: rgb(15, 52, 22);
    padding: 0%;
    margin: 0%;
    width: 100%;
    display: flex;
    align-items: center;
    height: 100px;
}
 
.element{
    width: 500px;
    display: flex;
    justify-content: space-between;
    padding-left: 500px;
    color: white;
}
h2{
    margin: 0%;
    width: 200px;
}